/* Stylesheet for the website */

html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    padding:0;
    height: 100%;
    overflow-x: hidden;
    font-family: "Gill Sans MT", sans-serif;
    font-weight: bold;
}

h1{
    color: aliceblue;
    text-align: center;
}

p{
    color: aliceblue;
    text-align: center;
}

section{
    position: relative;
    min-height: 100vh;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Home Section */
#home-section{
    background-image: linear-gradient(to bottom, #000, #0617A6);
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    align-items: center;
    flex-direction: column;
    z-index: 0;
}

#home-section h1 {
    font-size: 30px;
    margin-bottom: 100px;
    text-shadow: 1.5px 1.5px black;
}

#kirby-container{
    position:absolute;
    width: 300px;
    height: 300px;
    top: 40%;
    right: 49%;
}

#kirby-svg{
    width: 150px;
    height: auto;
    position: relative;
    animation: hover 1.5s ease-in-out infinite ;
    transform-origin: center;
    offset-path: path("M200,200 Q50,200 50,100 Q50,0 200,0 Q350,0 350,100 Q350,200 200,200");
    offset-distance: 0;
    offset-rotate: auto 180deg;
}

.kirby-move {
    animation: move 3s linear !important;
}

@keyframes hover {
    0%, 100%{
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes move {
    100% {
        offset-distance: 100%;
    }
}

/* About Section */
#about-section{
    background-image: linear-gradient(to bottom, #0820E7, #62c1e5);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden; /* This will fix the horizontal overflow */
}

#about-section #text{
    position: relative;
    justify-content: center;
    margin: 30px;
    text-shadow: 1.5px 1.5px black;
    z-index: 3;
}

#about-section #text h1{
    font-size: 50px;
}

#about-section #text p{
    font-size: 20px;
}

/* Projects Section */
#projects-section{
    background: url("images/mountains.svg"), linear-gradient(to bottom, #62c1e5, #ffffff) no-repeat center;
    background-size: cover;
}

#projects-section h1{
    position: relative;
    font-size: 50px;
    text-shadow: 1.5px 1.5px #cea3e1;
}

/* Contacts Section */
#contacts-section{
    background:
            url("images/bamboo.svg") -100px 100% repeat-x,
            url("images/bamboo.svg") 300px 100% repeat-x,
            linear-gradient(to bottom, #688f4e, #b1d182);
    background-size: auto 100%;
    overflow: hidden;
}

#contacts-section h1{
    font-size: 40px;
    text-shadow: 1.5px 1.5px #084724;
}

/* Navigation */
.nav-toggle{
    cursor: pointer;
    width: 35px;
    height: 35px;
    padding: 10px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.nav-toggle span{
    display: inline-block;
    position: absolute;
    width: 45%;
    height: 3px;
    left: 14px;
    background: white;
    border-radius: 3px;
    transition: all .4s;
}

.nav-toggle span:nth-of-type(1) {
    top: 17px;
}
.nav-toggle span:nth-of-type(2) {
    top: 25px;
}
.nav-toggle span:nth-of-type(3) {
    top: 33px;
}

.nav-toggle.active span:nth-of-type(1) {
    top: 18px;
    left: 14px;
    transform: translateY(6px) rotate(-45deg);
    width: 40%;
}
.nav-toggle.active span:nth-of-type(2) {
    opacity: 0;
}
.nav-toggle.active span:nth-of-type(3) {
    top: 30px;
    left: 14px;
    transform: translateY(-6px) rotate(45deg);
    width: 40%;
}

.nav-bar{
    position: fixed;
    width: 100%;
    right: -100%;
    max-width: 250px;
    z-index: 999;
    top: 0;
    height: 100vh;
    transition: right 0.6s ease;
    background: rgba(68, 108, 109, 0.6);
}

.nav-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 60px 0 0 0;
}

.button-container{
    position: absolute;
    bottom:0;
    left: 30%;
    margin-bottom: 50px;
}

.nav-button{
    font-family: inherit;
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background-color: #F598B1;
    color: #F4134f;
    border: 1px solid #F52F64;
    border-radius: 15px;
    display: inline-flex;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
    cursor: pointer;
}
.nav-button:hover{
    box-shadow: 4px 4px 0 #F52F64;
    transform: translate(-4px,-4px);
}

.nav-button:focus-visible{
    outline-offset: 1px;
}

.nav-item{
    text-align: center;
    width: 100%;
}

.nav-item a {
    font-size: 20px;
    color: #ec802f;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: background-color 0.3s;
}

.nav-item a:hover{
    transform: scale(1.1);
    color: whitesmoke;
}

.nav-bar.active{
    right: 0;
}

/* Cloud Animations */
#cloud-container{
    position: absolute;
    height: 100%;
    width: 150%;
    overflow: hidden;
}

.cloud{
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    animation: moveClouds linear infinite;
}

#cloud1 { background-image: url("images/cloud1.svg"); width: 200px; height: 150px; top: 200px; animation-duration: 25s; }
#cloud2{ background-image: url("images/cloud2.svg"); width: 200px; height: 150px; top: 50px; animation-duration: 40s; animation-delay: 5s; }
#cloud3{ background-image: url("images/cloud3.svg"); width: 250px; height: 200px; top: 600px; animation-duration: 60s; animation-delay: -5s; }
#cloud4{ background-image: url("images/cloud4.svg"); width: 200px; height: 400px; top: 400px; animation-duration: 80s; animation-delay: -30s; }
#cloud5{ background-image: url("images/cloud5.svg"); width: 200px; height: 300px; top: 300px; animation-duration: 90s; animation-delay: -20s; }
#cloud6{ background-image: url("images/cloud6.svg"); width: 400px; height: 400px; top: 1000px; animation-duration: 30s; animation-delay: -5s; }
#cloud7 { background-image: url("images/cloud1.svg"); width: 400px; height: 350px; top: 700px; animation-duration: 40s; animation-delay: -20s; }
#cloud8{ background-image: url("images/cloud2.svg"); width: 300px; height: 300px; top: 650px; animation-duration: 90s; animation-delay: -60s; }

@keyframes moveClouds {
    0% { transform: translateX(150vw); }
    100% { transform: translateX(0%); }
}

/* General Image Styles */
img{
    width: 250px;
    height: 250px;
    object-position: center;
}

/* Scroll Animations */
#sun{
    position: absolute;
    left: 30px;
    top: 5px;
    overflow: hidden;
    z-index: 0;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.projects{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.project-card{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: calc(100% - 60px);
    gap: 10px;
    background-color: #BAAEAE;
    align-self: center;
    position: relative;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.contact-card {
    display: grid;
    align-items: center;
    width:250px;
    position: relative;
    opacity: 0;
    transition: opacity 0.8s ease-out;
}

#sun.is-visible,
.project-card.is-visible,
.contact-card.is-visible {
    opacity: 1;
    transform: translateX(0);
}

.project-card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.project-image{
    position: relative;
    width: 250px;
    height: 250px;
}

.project-image img{
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}

.overlay-image{
    background-color: rgba(25,29,38,.85);
    transition: opacity 0.3s ease;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.project-card:hover .project-image img{
    opacity: 0.5;
}

.project-card:hover .overlay-image{
    opacity: 1;
}

.overlay-image a {
    color: #fff;
    padding: 0 2rem;
    display: inline-block;
    border: 1px solid rgba(255,255,255,.4);
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-decoration: none;
}

.overlay-image a:hover{
    background: #d9ae8e;
    border-color: #d9ae8e;
}

.project-info{
    flex-direction: column;
    display: flex;
    align-content: center;
    flex: 1;
    padding: 10px;
}

.project-info h2 { text-align: center; }
.project-info p { text-align: center; padding: 10px; margin-top: 0; }
.project-info .tags{
    text-align: center;
    margin-bottom: 10px;
}
.project-info .tags span{
    background-color: #eee;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 0.9em;
    gap: 10px;
}

.contacts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    gap: 40px;
}

.contact-icon{
    background: yellowgreen;
    align-self: center;
    display:flex;
    width: 100%;
    height: 150px;
    transition: 0.7s;
    z-index: 5;
    justify-content: center;
    position: relative;
    transform: translateY(75px);
    border-radius: 20px;
}

#linkedin-card{ background: #0077B5; }
#github-card{ background: #333; }
#email-card{ background: #9900B5; }

.contact-icon img{
    width: 60px;
    height: auto;
    margin: auto auto;
    display: block;
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: chartreuse;
    width: 100%;
    height: 150px;
    transform: translateY(-75px);
    transition: 0.7s;
    z-index: 4;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}

.contact-info h3, .contact-info a { padding: 10px; }

.contact-info button{
    position: relative;
    cursor: pointer;
    margin: 0 30px;
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    background: none;
    border: none;
    font-family: inherit;
    font-weight: bold;
}

.contact-info button::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: -7px;
    left: -7px;
    transition: all 0.5s;
}

.contact-info button:after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: -7px;
    right: -7px;
    transition: all 0.5s;
}

.contact-info button:hover:before,
.contact-info button:hover:after{
    height: 100%;
    width: 100%;
}

#linkedin-info{ background: #00B599; }
#linkedin-info button{ background: #0077B5; color: antiquewhite; }
#linkedin-info button::before{ border-top: 3px solid #0077B5; border-left: 3px solid #0077B5; }
#linkedin-info button:after{ border-bottom: 3px solid #0077B5; border-right: 3px solid #0077B5; }

#github-info{ background: #939393; }
#github-info button{ background: #333; color: antiquewhite; }
#github-info button::before{ border-top: 3px solid #333; border-left: 3px solid #333; }
#github-info button:after{ border-bottom: 3px solid #333; border-right: 3px solid #333; }

#email-info{ background: #ED8AFF; }
#email-info button{ background: #9900B5; color: antiquewhite; }
#email-info button::before{ border-top: 3px solid #9900B5; border-left: 3px solid #9900B5; }
#email-info button:after{ border-bottom: 3px solid #9900B5; border-right: 3px solid #9900B5; }

.contact-card:hover .contact-icon{ transform: translateY(0); border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
.contact-card:hover .contact-info{ transform: translateY(0); border-top-left-radius: 0; border-top-right-radius: 0; }

#bottom-images {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.grass-container{
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: -20px;
    background:
            url("images/grass.svg") 0 100% repeat-x,
            url("images/grass.svg") 75px 100% repeat-x;
    background-size: auto 100%;
    z-index: 1;
}

.tiger-container{
    height: 250px;
    width: 100%;
    background: url("images/tiger.svg") no-repeat bottom center;
    background-size: contain;
    position: absolute;
    bottom: 15px;
    z-index: 0;
}

/* Media query for smaller screens */
@media (max-width: 850px){
    .contacts{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    #kirby-container {
        top: 60%;
    }

    .project-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        align-self: center;
        max-width: 500px;
    }

    img {
        width: 100%;
        max-width: 500px;
    }

    .project-image{
        width: 100%;
        max-width: 500px;
    }

    .project-info { padding: 10px; }
    .project-info h2 { font-size: 20px; }
    .project-info p { font-size: 14px; }
    .project-info .tags{ padding: 5px; }
    .project-info .tags span { font-size: 12px; margin: 5px 0; padding: 4px 8px; }
}

.animated-star{
    animation: twinkle 2s infinite;
}

@keyframes twinkle {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}

@media (max-width: 480px) {
    #home-section h1 { font-size: 24px; }
    #about-section #text h1 { font-size: 40px; }
    #about-section #text p { font-size: 16px; }
    .project-card { width: calc(100% - 40px); }
    .nav-bar { max-width: 200px; }
    .nav-item a { font-size: 18px; }
    .nav-button { font-size: 14px; padding: 10px 14px; }
}
